<div *ngIf="showLoader" class="spinner">
    <div>
        <h2>Loading...</h2>
    </div>
    <div>
        <mat-spinner [diameter]="40"></mat-spinner>
    </div>
</div>
<div>
    <div class="page-header">
        <div>
            <app-filter-accounts [accountTypes]="accountTypes"></app-filter-accounts>
        </div>
        <div>            
            <a routerLink="/newaccount" style="color: #ffffff">
                <button type="button" class="btn btn-dark">
                    New Account
                </button> 
            </a>
        </div>    
    </div>
    <div class="table-responsive tablewrapper">
      <table class="table table-striped">
          <thead class="table-head">
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Account Type</th>
                <th style="text-align: center;">Balance</th>
                <th>Address</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of dataSource">
                <td>
                    {{data.firstName}}
                </td>
                <td>
                    {{data.lastName}}
                </td>
                <td>
                    {{getAccountTypeName(data.accountTypeId)}}
                </td>
                <td class="numberCell">
                    {{data.balance}}
                </td>
                <td>
                    {{data.address}}
                </td>                
            </tr>
            </tbody>
        </table>
    </div>
   
</div>    

